@charset "UTF-8";
/*------------------------------
style
------------------------------*/
/*------------------------------
var
------------------------------*/
/*------------------------------
style
------------------------------*/
/*------------------------------
common
------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-family: "Avenir", "Roboto", "Noto Sans JP", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Meryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
  font-weight: 500;
  color: #121212 !important;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.note {
  color: #999999;
  font-size: 0.625rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #121212;
}

/*------------------------------
style
------------------------------*/
/*------------------------------
mixin
------------------------------*/
/*------------------------------
style
------------------------------*/
/*------------------------------
header
------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  height: 75px;
  margin: 15px 20px 0;
  padding: 0 40px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 10;
  filter: drop-shadow(1px 1px 5px #999);
}
.header__logo {
  width: 200px;
}
.header__logo img {
  vertical-align: middle;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-list .header__nav-item {
  font-weight: 900;
}
.header__nav-list .header__nav-item:not(:last-child) {
  margin-right: 15px;
}
.header__nav-list .header__nav-item:not(:last-child):hover a {
  color: #12376a;
}
.header__nav-list .header__nav-item a {
  font-size: 1.0625rem;
  color: #121212;
  text-decoration: none;
  transition: all 0.5s;
}
.header__nav-list .header__nav-item--btn a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ef2828;
  color: #fff;
  border-radius: 30px;
  transition: all 0.7s;
}
.header__nav-list .header__nav-item--btn a:hover {
  background-color: #f35757;
}

/*------------------------------
style
------------------------------*/
/*------------------------------
top
------------------------------*/
main {
  /*------------------------------
  .courses
  ------------------------------*/
}
main .kv {
  position: relative;
}
main .kv__upper {
  padding-bottom: 70px;
  background-color: #131313;
  overflow-x: hidden;
}
main .kv__upper .kv__slider {
  display: flex;
  width: 300%;
}
main .kv__upper .kv__slider-img {
  animation: slide 30s linear infinite both;
  margin-left: 0;
}
main .kv__upper .kv__slider-img:last-child {
  margin-left: -2.95vw;
}
main .kv__upper .kv__slider-img img {
  display: block;
  width: 100%;
  height: auto;
}
main .kv__upper .kv__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 95px;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}
main .kv__upper .kv__content .kv__ttl {
  margin-bottom: 20px;
}
main .kv__upper .kv__content .kv__ttl img {
  width: 100%;
}
main .kv__upper .kv__content .kv__btn {
  display: flex;
  justify-content: center;
}
main .kv__upper .kv__content .kv__btn-item:first-child {
  margin-right: 20px;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--red {
  display: inline-block;
  position: relative;
  padding: 15px 60px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #ef2828;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.5s;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--red::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 11px;
  height: 11px;
  margin: auto 0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--red:hover {
  background-color: #f35757;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--red:hover::after {
  right: 4%;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--white {
  display: inline-block;
  position: relative;
  padding: 15px 60px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #fff;
  color: #12376a;
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.5s;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--white::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 11px;
  height: 11px;
  margin: auto 0;
  border-top: 3px solid;
  border-right: 3px solid;
  transform: rotate(45deg);
  transition: all 0.2s;
}
main .kv__upper .kv__content .kv__btn-item a.kv__btn-item--white:hover::after {
  right: 4%;
}
main .kv__lower {
  padding: 10px 45px;
}
main .kv__lower-note {
  text-align: right;
  line-height: 1;
}
main .courses {
  position: relative;
  padding: 60px 0 60px;
  background-color: #f6f6f6;
}
main .courses::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 170px;
  background: url(../images/bg_choosecourse.png) no-repeat center/102%;
  z-index: 0;
}
main .courses__ttl {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 2.5rem;
}
main .courses__ttl span {
  font-size: 3rem;
}
main .courses__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .courses__list .courses__item {
  max-width: 325px;
  width: 100%;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s;
  filter: drop-shadow(1px 1px 8px #999);
}
main .courses__list .courses__item:hover {
  border: 5px solid #a93032;
}
main .courses__list .courses__item:nth-child(2):hover {
  border: 5px solid #12376a;
}
main .courses__list .courses__item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 40px;
}
main .courses__list .courses__item-link:hover .courses__btn {
  transition: all 0.5s;
}
main .courses__list .courses__item-link:hover .courses__btn--red {
  background-color: #BA3538;
}
main .courses__list .courses__item-link:hover .courses__btn--red::after {
  right: 4%;
}
main .courses__list .courses__item-link:hover .courses__btn--blue {
  background-color: #143C75;
}
main .courses__list .courses__item-link:hover .courses__btn--blue::after {
  right: 4%;
}
main .courses__list .courses__item-link:hover .courses__btn--rainbow {
  background-image: linear-gradient(90deg, rgb(255, 34, 34), rgb(216, 77, 255));
}
main .courses__list .courses__item-link:hover .courses__btn--rainbow::after {
  right: 4%;
}
main .courses__list .courses__item-link .courses__item-ttl {
  height: 90px;
  margin-bottom: 35px;
  color: #fff;
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 90px;
}
main .courses__list .courses__item-link .courses__item-ttl--red {
  background-color: #a93032;
}
main .courses__list .courses__item-link .courses__item-ttl--blue {
  background-color: #12376a;
}
main .courses__list .courses__item-link .courses__item-ttl--rainbow {
  background-image: linear-gradient(90deg, rgb(248, 15, 15), rgb(207, 63, 245));
}
main .courses__list .courses__item-link .courses__item-ttl span {
  font-size: 1.5rem;
}
main .courses__list .courses__item-link .courses__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
main .courses__list .courses__item-link .courses__images img {
  width: 85%;
}
main .courses__list .courses__item-link .courses__images img:first-child {
  position: relative;
  top: 5px;
}
main .courses__list .courses__item-link .courses__images img:last-child {
  z-index: 1;
}
main .courses__list .courses__item-link .courses_feature {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 25px;
}
main .courses__list .courses__item-link .courses_feature ul li {
  display: flex;
}
main .courses__list .courses__item-link .courses_feature ul li img {
  width: 8%;
  margin-right: 10px;
}
main .courses__list .courses__item-link .courses_feature ul li p {
  margin: 0;
  font-size: 1.25rem;
  text-align: left;
}
main .courses__list .courses__item-link .courses_feature ul li:not(:last-child) p {
  margin-bottom: 10px;
}
main .courses__list .courses__item-link .courses__btn {
  filter: drop-shadow(1px 3px 3px #999);
}
main .courses__list .courses__item-link .courses__btn--red {
  display: inline-block;
  position: relative;
  padding: 10px 35px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #a93032;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.5s;
}
main .courses__list .courses__item-link .courses__btn--red::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 11px;
  height: 11px;
  margin: auto 0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
main .courses__list .courses__item-link .courses__btn--blue {
  display: inline-block;
  position: relative;
  padding: 10px 35px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #12376a;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.5s;
}
main .courses__list .courses__item-link .courses__btn--blue::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 11px;
  height: 11px;
  margin: auto 0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
main .courses__list .courses__item-link .courses__btn--rainbow {
  display: inline-block;
  position: relative;
  padding: 10px 35px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #12376a;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.5s;
  background-image: linear-gradient(90deg, rgb(248, 15, 15), rgb(207, 63, 245));
}
main .courses__list .courses__item-link .courses__btn--rainbow::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 11px;
  height: 11px;
  margin: auto 0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
main .courses__note {
  line-height: 1;
  text-align: right;
}
main .courses__note small {
  font-size: 0.75rem;
}

@keyframes slide {
  from {
    transform: translateX(-2%);
  }
  to {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */