/*------------------------------
common
------------------------------*/ 
@use "var";

*, *::before, *::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
}
body {
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-family: 'Avenir', 'Roboto', "Noto Sans JP", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Meryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
  font-weight: 500;
  color: #121212 !important;
}

// ユーティリティクラス
.inner {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.note {
  color: var.$text-color-gray;
  font-size: 0.625rem;
}
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all .8s;
}
.fade-up.is-inview {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .5s;
}

// 共通スタイル
ul {
  list-style: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var.$text-color-black;
}