/*------------------------------
mixin
------------------------------*/ 
@use "var";

@mixin button-style($bg-color, $text-color, $border-color: null, $padding-y: 15px, $padding-x: 60px, $font-size: 1.875rem, $offset-x: 1px, $offset-y: 3px, $blur-radius: 3px) {
  display: inline-block;
  position: relative;
  padding: $padding-y $padding-x;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  font-weight: 900;
  text-decoration: none;
  transition: all .5s;
  filter: drop-shadow($offset-x $offset-y $blur-radius var.$shadow-color);
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    width: 11px;
    height: 11px;
    margin: auto 0;
    border-top: 3px solid $border-color;
    border-right: 3px solid $border-color;
    transform: rotate(45deg);
    transition: all .2s;
  }
}

@mixin button-hover($hover-bg-color: null) {
  &:hover {
    background-color: $hover-bg-color;
    &::after {
      right: 4%;
    }
  }
}

@mixin courses-button-hover($hover-bg-color: null) {
  background-color: $hover-bg-color;
  &::after {
    right: 4%;
  }
}