/*------------------------------
top
------------------------------*/ 
@use "var";

@use "mixin";

main {
  .kv {
    position: relative;
    &__upper {
      padding-bottom: 70px;
      background-color: #131313;
      overflow-x: hidden; // はみ出た画像の左右を切り取る
      .kv__slider{
        display: flex;
        width: 300%; // 画像3枚分の余白を確保
        &-img {
          animation: slide 30s linear infinite both;
          margin-left: 0;
          &:last-child {
            margin-left: -2.95vw; //余白調整
          }
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
      .kv__content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 95px;
        max-width: 1060px;
        width: 100%;
        margin: 0 auto;
        .kv__ttl {
          margin-bottom: 20px;
          img {
            width: 100%;
          }
        }
        .kv__btn {
          display: flex;
          justify-content: center;
          &-item {
            &:first-child {
              margin-right: 20px;
            }
            a{
              &.kv__btn-item--red {
                @include mixin.button-style(var.$red-btn-bg, var.$red-btn-txt-color, #fff, var.$red-btn-bg-hover);
              }
              &.kv__btn-item--white {
                @include mixin.button-style(var.$blue-btn-bg, var.$blue-btn-txt-color);
              }
            }
          }
        }
      }
    }
    &__lower {
      padding: 10px 45px;
      background-color: #eee;
      &-note {
        text-align: right;
        line-height: 1;
        &--small {
          color: var.$text-color-gray;
          font-size: 0.625rem;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    // 少し左側にずらし、ループ時の繋ぎ目を滑らかにする
    transform: translateX(-2%);
  }
  to {
    transform: translateX(-100%);
  }
}