/*------------------------------
top
------------------------------*/ 
@use "var";

@use "mixin";

main {
  .kv {
    position: relative;
    &__upper {
      padding-bottom: 70px;
      background-color: #131313;
      overflow-x: hidden; // はみ出た画像の左右を切り取る
      .kv__slider{
        display: flex;
        width: 300%; // 画像3枚分の余白を確保
        &-img {
          animation: slide 30s linear infinite both;
          margin-left: 0;
          &:last-child {
            margin-left: -2.95vw; //余白調整
          }
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
      .kv__content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 95px;
        max-width: 1060px;
        width: 100%;
        margin: 0 auto;
        .kv__ttl {
          margin-bottom: 20px;
          img {
            width: 100%;
          }
        }
        .kv__btn {
          display: flex;
          justify-content: center;
          &-item {
            &:first-child {
              margin-right: 20px;
            }
            a{
              &.kv__btn-item--red {
                @include mixin.button-style(var.$red-btn-bg, var.$red-btn-txt-color, #fff);
                @include mixin.button-hover(var.$red-btn-bg-hover);
              }
              &.kv__btn-item--white {
                @include mixin.button-style(var.$blue-btn-bg, var.$blue-btn-txt-color);
                @include mixin.button-hover();
              }
            }
          }
        }
      }
    }
    &__lower {
      padding: 10px 45px;
      &-note {
        text-align: right;
        line-height: 1;
      }
    }
  }
  /*------------------------------
  .courses
  ------------------------------*/
  .courses {
    position: relative;
    padding: 60px 0 60px;
    background-color: #f6f6f6;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 170px;
      background: url(../images/bg_choosecourse.png) no-repeat center / 102%;
      z-index: 0;
    }
    &__ttl {
      position: relative;
      z-index: 1;
      width: 100%;
      margin-bottom: 40px;
      font-weight: 900;
      font-size: 2.5rem;
      span {
        font-size: 3rem;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .courses__item {
        max-width: 325px;
        width: 100%;
        background-color: #fff;
        border: 5px solid #fff;
        border-radius: 15px;
        overflow: hidden;
        transition: all .5s;
        filter: drop-shadow(1px 1px 8px var.$shadow-color);
        &:hover {
          border: 5px solid #a93032;
        }
        &:nth-child(2):hover {
          border: 5px solid var.$primary-color;
        }
        &-link {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding-bottom: 40px;
          &:hover {
            .courses__btn {
              transition: all .5s;
              &--red {
                @include mixin.courses-button-hover(#BA3538);
              }
              &--blue {
                @include mixin.courses-button-hover(#143C75);
              }
              &--rainbow {
                @include mixin.courses-button-hover();
                background-image: linear-gradient(90deg, rgb(255, 34, 34), rgb(216, 77, 255));
              }
            }
          }
          .courses__item-ttl {
            height: 90px;
            margin-bottom: 35px;
            color: #fff;
            font-weight: 900;
            font-size: 1.875rem;
            line-height: 90px;
            &--red {
              background-color: #a93032;
            }
            &--blue {
              background-color: var.$primary-color;
            }
            &--rainbow {
              background-image: linear-gradient(90deg, rgba(248, 15, 15, 1), rgba(207, 63, 245, 1));
            }
            span {
              font-size: 1.5rem;
            }
          }
          .courses__images {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
            img {
              width: 85%;
              &:first-child {
                position: relative;
                top: 5px;
              }
              &:last-child {
                z-index: 1;
              }
            }
          }
          .courses_feature {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            margin-bottom: 25px;
            ul {
              li {
                display: flex;
                img {
                  width: 8%;
                  margin-right: 10px;
                }
                p {
                  margin: 0;
                  font-size: 1.25rem;
                  text-align: left;
                }
                &:not(:last-child) {
                  p {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
          .courses__btn {
            filter: drop-shadow(1px 3px 3px var.$shadow-color);
            &--red {
              @include mixin.button-style(#a93032, #fff, #fff, 10px, 35px, 1rem);
            }
            &--blue {
              @include mixin.button-style(var.$primary-color, #fff, #fff, 10px, 35px, 1rem);
            }
            &--rainbow {
              @include mixin.button-style(var.$primary-color, #fff, #fff, 10px, 35px, 1rem);
              background-image: linear-gradient(90deg, rgba(248, 15, 15, 1), rgba(207, 63, 245, 1));
            }
          }
        }
      }
    }
    &__note {
      line-height: 1;
      text-align: right;
      small {
        font-size: 0.75rem;
      }
    }
  }
  /*------------------------------
  .skills
  ------------------------------*/
  .skills {
    padding: 35px 0;
    overflow-x: hidden;
    &__ttl {
      margin-bottom: 50px;
      color: var.$primary-color;
      font-weight: 800;
      font-size: 2.5rem;
      text-align: center;
    }
    &__list {
      display: flex;
      margin: 24px calc(50% - 50vw) 40px;
      width: 100vw;
      .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25px;
        width: 40px;
        height: 60px;
        border: none;
        background-color: #fff;
        box-shadow: 0 0 5px var.$shadow-color;
        opacity: 0.5;
        cursor: pointer;
        z-index: 1;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 35%;
          left: 35%;
          width: 20px;
          height: 20px;
          border-top: 4px solid var.$primary-color;
          border-left: 4px solid var.$primary-color;
          transform: rotate(-45deg);
        }
      }
      .slick-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        width: 40px;
        height: 60px;
        border: none;
        background-color: #fff;
        box-shadow: 0 0 5px var.$shadow-color;
        opacity: 0.5;
        cursor: pointer;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 35%;
          right: 35%;
          width: 20px;
          height: 20px;
          border-top: 4px solid var.$primary-color;
          border-left: 4px solid var.$primary-color;
          transform: rotate(135deg);
        }
      }
      .draggable {
        padding: 0 20px !important;
      }
      .slick-list {
        .slick-track {
          display: flex;
          align-items: stretch;
          .slick-slide {
            height: auto;
          }
          .skills__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            max-width: 270px;
            margin: 20px 5px;
            padding: 80px 15px 30px;
            box-shadow: 0px 3px 5px #ddd;
            z-index: 1;
            img {
              position: absolute;
              top: -20px;
              max-width: 80px;
              vertical-align: bottom;
              z-index: 2;
            }
            p {
              &:first-of-type {
                margin-bottom: 10px;
                color: var.$primary-color;
                font-weight: 900;
                font-size: 1.125rem;
              }
              &:last-of-type {
                font-size: 0.875rem;
                font-weight: 700;
                text-align: left;
              }
            }
          }
        }
      }
    }
    &__btn {
      text-align: center;
      &--blue {
        @include mixin.button-style(var.$primary-color, #fff, #fff, 15px, 150px);
        @include mixin.button-hover();
      }
    }
  }
}

@keyframes slide {
  from {
    // 少し左側にずらし、ループ時の繋ぎ目を滑らかにする
    transform: translateX(-2%);
  }
  to {
    transform: translateX(-100%);
  }
}