/*------------------------------
var
------------------------------*/ 
// グローバルなテキスト色
$text-color-black: #121212;
$text-color-blue: #12376a;
$text-color-gray: #999999;

// ボタン関連
$red-btn-bg: #ef2828;
$red-btn-bg-hover: #f35757;
$red-btn-txt-color: #fff;
$blue-btn-bg: #fff;
$blue-btn-txt-color: #12376a;